h2.noprint Applicant Bio Preview
#output.margin.page(ng-show="model.name")
  p(ng-if='preview.paragraphs', ng-repeat='item in preview.paragraphs', class="{{item.model}}")
    span(ng-if='item.hidetext && !showText(item)', bind-unsafe-html="item.hidetext")
    span(ng-if='showText(item)', bind-unsafe-html="item.showtext") 
    span(ng-if="showText(item)", ng-repeat='kid in item.children', class="{{kid.model}}") 
      span(ng-if='kid.hidetext && !showText(kid)', bind-unsafe-html="kid.hidetext")
      span(ng-if='showText(kid)', bind-unsafe-html="kid.showtext") 
